*.pbxuser
*.mode1v3
*.mode2v3
xcuserdata
.DS_Store
 # Xcode
.DS_Store
*/build/*
Build/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

#CocoaPods
Pods/
Pods/Manifest.lock

Pods/Pods-AFNetworking-Private.xcconfig

Pods/Pods-AFNetworking-Private.xcconfig

Pods/Pods-GMGridView-Private.xcconfig

Pods/Pods-JSQSystemSoundPlayer-Private.xcconfig

Pods/Pods-SwipeView-Private.xcconfig

Pods/Pods-TestFlightSDK-Private.xcconfig

Pods/Pods-environment.h

Pods/Pods-resources.sh

Pods/Pods-resources.sh

Pods/Pods.xcconfig

Pods/Pods.xcodeproj/project.pbxproj

Pods/Pods-acknowledgements.plist
